.card {
  width: 250px;
  background: white;
  transition: transform .2s;
  position: relative;
  top: 0;
  box-shadow: 0 0 5px #ffffff !important;
  cursor: pointer;
}

.poster {
  width: 250px;
  height: auto;
  min-height: 400px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px #ffffff !important;
}

.title {
  color: black;
  text-align: center;
  padding: 0px 20px 20px 20px;
}
