<!DOCTYPE html>
<html>
  <head>
    <title>Watchlist - Make your own watchlist</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body class="container">
   <header class="elevated">
     <div class="topnav" id="myTopnav">
       <a routerLink="/" class="logo">
         <img src="../../../assets/watchlist_logo.png" class="logo">
       </a>
       <div class="dropdown">
         <button class="dropbtn">
           <i class="fas fa-user"></i>
           &nbsp;User&nbsp;
           <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
           <a routerLink="/profile">Profile</a>
           <a (click)="auth.logout()">Sign out&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a>
         </div>
       </div>
       <a class="right" routerLink="/search">
         Search
       </a>
       <a class="right" routerLink="/discover/popular/1">
         Discover by category
       </a>
       <a class="right" routerLink="/lists/watchlist">
         My lists
       </a>
       <a href="javascript:void(0);" class="icon" (click)="toggle()">&#9776;</a>
      </div>
   </header>
   <nav></nav>
   <main>
      <router-outlet></router-outlet>
   </main>
     <aside></aside>
     <footer class="elevated">@ Copyright Watchlist</footer>
  </body>
</html>
