
<div *ngIf="hasFavorite == true && favoriteMovie != null">
  <div class="welcome">
    <a href="">
      <img src="../../../assets/welcome.png">
    </a>
  </div>

  <div class="text-container elevated">
    <div class="text-recommendations truc">
      <span>Based on your favorite "{{favoriteMovie.original_title}}", we thought you might like...</span>
    </div>
  </div>

  <div class="grid">
    <app-moviecard
      *ngFor="let movie of recommendations"
      [id]="movie.id"
      [posterPath]="movie.poster_path"
      [name]="movie.original_title"
      (cardClicked)="onCardClicked($event)">
    </app-moviecard>
  </div>
<div>
