<div class="select-container elevated">
  <div class="select-inside">
    <h1>{{currentLabel}}</h1>
  </div>
</div>
<div class="grid">
  <app-moviecard
    *ngFor="let movie of movies"
    [id]="movie.id"
    [posterPath]="movie.poster_path"
    [name]="movie.title"
    (cardClicked)="onCardClicked($event)">
  </app-moviecard>
</div>
<div class="btn-nav-page-bloc">
  <a *ngIf="movies?.length > 0 && currentPage > 1" (click)="precedentPage()" class="btn-red btn-nav-page">Previous</a>
  <a *ngIf="movies?.length > 0" (click)="nextPage()" class="btn-red btn-nav-page">Next</a>
</div>
