
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watchlist - Make your own watchlist</title>
  </head>

  <body>
    <nav>
      <a href="" class="logo">
        <img src="assets/watchlist_logo.png" class="logo">
      </a>
      <a routerLink="/login" class="signin">
        Sign In
      </a>
    </nav>

    <section>
      <h1 class="title">Plan what's next.</h1>
      <p class="subtitle">MAKE YOUR OWN WATCHLIST.</p>
      <a routerLink="/register"><button class="register">JOIN FREE, REGISTER</button></a>
    </section>
  </body>
</html>
