html, body{
	height:100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../../../assets/back-future.jpg');
  color: white;
}

nav {
  height: 90px;
	position: absolute;
	margin-left: 3%;
}

nav a {
  display: inline-block;
  line-height: 90px;
}

nav img {
  width: 167px;
  height: 45px;
  vertical-align: middle;
}

.logo {
	position: absolute;
	margin-left: 3%;
}

img {
	width: 167px;
	height: 45px;
	vertical-align: middle;
}

.grandParentContainer {
	display:table; height:100%; margin: 0 auto;
}

.parentContainer {
	display:table-cell; vertical-align:middle;
}

#loginForm {
  width: 400px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 30px;
}

.submit {
  color: #fff;
  background-color: #e50914;
  line-height: normal;
  margin-top: 10px;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
}

.register {
  margin: 30px;
  padding-top: 10px;
  border-top: #ccc solid 1px;
}
