<h1>Login</h1>
<p class="lead">You don't have an account? Please <a routerLink="/register">register</a> here.</p>
<form (submit)="login()">
  <div>
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="Enter email" [(ngModel)]="creds.email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="creds.password">
  </div>
  <button type="submit" class="btn btn-default">Login!</button>
</form>
