<h1>Register</h1>
<p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
<form (submit)="register()">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter your username" [(ngModel)]="creds.username">
  </div>
  <div>
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="Enter email" [(ngModel)]="creds.email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="creds.password">
  </div>
  <button type="submit" class="btn btn-default">Register!</button>
</form>
